
.icons-container a {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 5rem;
}

.icons-small {
  font-size: 2rem;
  margin: 0.1rem;
}

.icons {
  font-size: 3.75rem;
  margin: 0.1rem;
}

.twitter {
  @include themify($themes) {
    color: themed("twitter")
  }
}

.medium {
  @include themify($themes) {
    color: themed("medium")
  }
}

.linkedin {
  @include themify($themes) {
    color: themed("linkedin")
  }
}

.reddit {
  @include themify($themes) {
    color: themed("reddit")
  }
}

.facebook {
  @include themify($themes) {
    color: themed("facebook")
  }
}

.github {
  @include themify($themes) {
    color: themed("github")
  }
}

.home {
  @include themify($themes) {
    color: themed("iconBackground")
  }
}

.brand-icon {
  font-size: 2.75rem;
  color: $gray-700;
  &:hover {
    color: $faded-red;
  }
  &.empire {
    border-radius: 50%;
    color: $white;
    background: $black;
    &:hover {
      color: $black;
      background: $white;
    }
  }
}